#title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#title button {
    position: absolute;
    left: 0;
}

#switch {
    display: flex;
    gap: 10px;
    align-items: center;
}
