### macOS ###
.DS_Store

### Draw.io ###
*.drawio.bkp
*.drawio.dtmp

### Visual Studio Code ###
.vscode/

### Node.js ###
node_modules/

### Logs ###
logs
*.log
npm-debug.log*

### Vite ###
dist/
dist-ssr/

### TypeScript ###
*.tsbuildinfo
