### macOS ###
.DS_Store

### Draw.io ###
*.bkp
*drawio.dtmp

### Visual Studio Code ###
.vscode/

### Bun ###
*.bun
.bun/
node_modules/

### Logs ###
logs
*.log
npm-debug.log*

### Vite ###
dist/
dist-ssr/
