@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
  $theme-color: "blue",
  $semantic-root-element: "#root",
  $enable-semantic-container: true,
  $enable-classes: false,
);

#root {
  > .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: map.get(map.get($breakpoints, "sm"), "viewport");
  }

  > .gestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: map.get(map.get($breakpoints, "sm"), "viewport");
  }
}
