@use "sass:map";
@use "@picocss/pico/scss/pico" as * with (
    $theme-color: "blue",
    $semantic-root-element: "#root",
    $enable-semantic-container: true,
    $enable-classes: false
);

#root {
    // Login

    > #login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        max-width: map.get(map.get($breakpoints, "sm"), "viewport");
    }

    // Admin

    > #admin #header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3%;
    }

    > #admin #navBar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    > #admin #table {
        border: solid;
        border-radius: 5px;
    }

    > #admin #table th {
        border: solid;
    }

    // EventList

    > #eventList #header {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    > #eventList #list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
    }
}
