name: PR Check

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  type-check:
    runs-on: ubuntu-latest
    name: Type
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      
      - name: Create Prisma Client
        run: cd backend && npx prisma generate

      - name: Run TypeScript type check
        run: npm run type-check:all

  eslint:
    runs-on: ubuntu-latest
    name: ESLint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint:all

  prettier:
    runs-on: ubuntu-latest
    name: Prettier
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier check
        run: npm run format-check